*{
    margin: 0;
    padding: 0;
}


.container{
    position: absolute;
    width: 100%;
    max-width: 400px;
}

.container img{
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.container .btn{
    position: absolute;
    top: 73%;
    left: 83%;
    transform: translate(-50%, -50%);
    background-color: rgb(151, 230, 240);
    color:rgb(52, 98, 235);
    font-size: 16px;
    padding: 40px 50px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

